/******************************************************************************\
 * Project:     Bee Fair
 * Description: Fair Trade Market
 * Author:      Arch A. Germann
 * Document:    TileView css
\******************************************************************************/

/*small devices (vertical phone, 375 and up */
@media (min-width: 375px) { 
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    #honeyBlogTile {
        min-width: 100% !important;
        margin: 0px !important;
    }
    #treasureMapTile{
        min-width: 100% !important;
        margin: 0px !important;
    }
    #locationDataTile{
        min-width: 100% !important;
        margin: 0px !important;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }


#honeyBlogTile
{
    display: inline-block;
    min-width: 407px;
    background: url("../../../img/tileView/honeyBlog.png"); /* no-repeat center center fixed;*/
    background-size: cover;
    margin: 20px;
    padding: 50px 0 50px 0;
}

#treasureMapTile
{
    display: inline-block;
    min-width: 407px;
    background: url("../../../img/tileView/treasureMap.png"); /* no-repeat center center fixed;*/
    background-size: cover;
    margin: 20px;
    padding: 50px 0 50px 0;
}

#locationDataTile
{
    display:inline-block;    
    min-width: 407px;
    background: url("../../../img/tileView/locationData.png"); /* no-repeat center center fixed;*/
    background-size: cover;
    margin: 20px;
    padding: 50px 0 50px 0;
}
