/******************************************************************************\
 * Project:     Bee Fair
 * Description: Fair Trade Market
 * Author:      Arch A. Germann
 * Document:    Menu css
\******************************************************************************/

.navbar-brand
{
	margin: 0;
	padding: 0;
}

.navbar-brand > img
{
	width: 48px;
}
