/******************************************************************************\
 * Project:     Bee Fair
 * Description: Fair Trade Market
 * Author:      Arch A. Germann
 * Document:    WantedPoster css
\******************************************************************************/

#wantedPosterMain
{
    /*margin: auto;
    font-family: sans-serif;
    width: 100%;*/
	
	text-align: left;
    width: 800px;
    margin: 0 auto;
    height: 1280px;
}

#wantedPosterHeader
{
    padding: 180px 50px 20px 50px;
}

#wantedPosterContent
{
    width: 100%;
    padding: 0px 0px 20px 50px;
}

#wantedPosterTablePicture
{
    width: 100%;
    height: 260px;
}

#wantedPosterTable
{
    width: 340px;
    height: 100%;
    margin-right: 260px;
}

#wantedPosterPicture
{
    width: 260px;
    height: 100%;
    float: right;
}

#wantedPosterDescription
{
    padding: 10px 100px 10px 0px;
}

#wantedPosterSpecial
{
    padding: 10px 100px 10px 0px;
}

#wantedPosterFooter
{
    padding: 0px 50px 50px 50px;
}

#wantedPosterMap
{
    width: 600px;
    height: 400px;
	margin-top: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
}
