/******************************************************************************\
 * Project:     Bee Fair
 * Description: Fair Trade Market
 * Author:      Arch A. Germann
 * Document:    TreasureMap css
\******************************************************************************/

#treasureMapTop
{
	margin-top: 40px;
	text-align: center;
	background-color: #FFFFFF;
}

#treasureMapOptions
{
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}

.locationsubmitcontrols{
	text-align: center !important;
}

#treasureMapAddNewEntry
{
	padding: 10px 0px 10px 0px;
}

#treasureMapNewEntry
{
	display: none;
    height: 490px;
    text-align: left;
}

#treasureMapNewEntryOptions
{
	width: 100%;
	height: 60px;
}

#treasureMap
{
    height: 900px;
	margin-top: 20px;
}

/*small devices (vertical phone, 375 and up */
@media (max-width: 375px)
{
	#treasureMapNewEntry
	{
		height: 1290px;
	}
}
