/******************************************************************************\
 * Project:     Bee Fair
 * Description: Fair Trade Market
 * Author:      Arch A. Germann
 * Document:    Blog css
\******************************************************************************/

.honeyBlogContainer
{
	width: 100%;
	padding: 10px;
	color: #000000;		
	text-align: center;
}
